@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary;
  }
  h1 {
    @apply text-6xl xl:text-7xl font-semibold;
  }
  h2 {
    @apply text-5xl xl:text-6xl font-semibold;
  }
  h3 {
    @apply text-4xl xl:text-5xl font-semibold;
  }
  h4 {
    @apply text-3xl xl:text-4xl font-semibold;
  }
}
